@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --basic-bg: #242629;
  --basic-header: #16161a;
  --basic-text: #fffffe;
  --secondry-text: #94a1b2;
}

body,
html {
  height: 100%;
  width: 100%;
  background: var(--basic-bg);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.12);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.12);
  -webkit-border-radius: 6px;
}

.custum-file-upload {
  width: 120px;
  height: 120px;
  cursor: pointer;
  border: 2px dashed #e8e8e8;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custum-file-upload input {
  display: none;
}